.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}
.screen-header__icons__find {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-header__icons__find span:first-child {
    margin-left: 25px;
    position: relative;
}
.screen-header__icons__find span:nth-child(2) {
    margin-left: 25px;
    position: relative;
}
.screen-header__icons__find span:last-child {
    margin-bottom: 25px;
    position: relative;
}